<?xml version="1.0"?>
<!--
/**
 * @author Aitoc Team
 * @copyright Copyright (c) 2020 Aitoc (https://www.aitoc.com)
 * @package Aitoc_CheckoutFieldsManager
 */
-->
<!--
  ~ Copyright © 2018 Aitoc. All rights reserved.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Aitoc_CheckoutFieldsManager::stores_attribute_adminhtml_checkoutattribute_grid"
             title="Checkout"
             module="Aitoc_CheckoutFieldsManager"
             sortOrder="100"
             parent="Magento_Backend::stores_attributes"
             action="aitoccheckoutfieldsmanager/checkoutattribute"
             resource="Aitoc_CheckoutFieldsManager::attributes"/>
    </menu>
</config>
