<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Directory\Block\Currency" type="MW\CustomCurrency\Block\Currency" />
	<type name="Magento\Catalog\Model\Product\Type\AbstractType">
        <plugin disabled="false" name="custom_to_check_bundle_product" sortOrder="10" type="MW\CustomCurrency\Plugin\Catalog\Model\Product\Type\AbstractType"/>
    </type>
    <type name="Magento\Checkout\Controller\Cart\Add">
        <plugin disabled="false" name="custom_to_add_bundle_product" sortOrder="10" type="MW\CustomCurrency\Plugin\Checkout\Controller\Cart\Add"/>
    </type>
</config>